
<md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
        <md-button ui-sref="home" aria-label="Go Back">
            Go Back
        </md-button>
        <h3>
            <span>Payment List</span>
        </h3>
    </div>
</md-toolbar>


<div class="payment-list">
    <md-content flex>
        <md-list ng-repeat="payment in payment">
            <md-list-item class="md-3-line" >
               <img class ="img-fix" src="img/dollar-sign.png" width="32" />
                <div class="md-list-item-text">
                    <h4>{{payment.message}}</h4></p>
                    <p>
                        {{payment.date}}
                    </p>
                </div>
                <md-divider inset></md-divider>
            </md-list-item>
        </md-list>
    </md-content>

 </div>

