

<md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
        <md-button ui-sref="home" aria-label="Go Back">
            Go Back
        </md-button>
        <h3>
            <span>Add payment</span>
        </h3>
    </div>
</md-toolbar>


<div class="add-payment-container">

    <h4>Select payer</h4>
    <select class="form-control" ng-change="change()"ng-model="payment.friend" ng-options="friend as friend.name for friend in friends"></select>

    <h4>Choose amount for:</h4>


    <div class="friend-wrapper" ng-repeat="consumer in consumersList">

            <label>{{consumer.name}}</label>
            <input min="0" type="number" ng-model="consumer.amount" class="form-control">
        <br />

    </div>


    <label>Total: <h4> ${{ getTotal()}}</h4></label>  <br />
    <md-button add-Payment-Btn class ="payment-button myBtn">Add payment</md-button>

    <message-label>{{message}}</message-label>

</div>



